[submodule "dependencies/osqp"]
	path = dependencies/osqp
	url = https://github.com/oxfordcontrol/osqp
[submodule "dependencies/eigen"]
	path = dependencies/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "dependencies/ceres"]
	path = dependencies/ceres
	url = https://github.com/ceres-solver/ceres-solver/
